<?xml version="1.0"?>
<launch>
    <rosparam file="$(find collision_detection)/config/SCDS.yaml" command="load" ns="" />
    <include file="$(find jackal_gazebo)/launch/jackal_world.launch">
        <arg name="config" default="front_laser" />
    </include>
    <node pkg="collision_detection" type="teleop_key.py" name="keyboard_publisher" output="screen" />
    <node pkg="collision_detection" type="cmd_vel.py" name="velocity_publisher" output="screen"/>
    <!-- <node pkg="collision_detection" type="collision_detector.py" name="collision_detector" output="screen"/> -->
</launch>